@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply h-full;
  }

  body {
    @apply relative h-full w-full flex flex-col md:flex-row;
    @apply dark:bg-zinc-900 bg-slate-100 dark:text-white text-black;
    @apply bg-switch;
  }
}

@layer components {
  .page {
    @apply absolute w-full h-full inset-0 flex flex-col items-center;
  }
  .page-center {
    @apply page;
    @apply justify-center;
  }
  .page-noheader {
    @apply md:max-w-[80%] w-full md:px-0 px-6 md:pt-0 pt-24;
  }
  .page-noheader-center {
    @apply md:max-w-[80%] w-full md:px-0 px-6;
  }
}

@layer utilities {
  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }
  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }
  .writing-horizontal-tb {
    writing-mode: horizontal-tb;
  }
  .bg-dark {
    @apply bg-zinc-900;
  }
  .bg-light {
    @apply bg-white;
  }
  .bg-switch {
    @apply transition-colors duration-500;
  }
}
