@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply h-full;
  }

  body {
    @apply overflow-hidden;
    @apply relative h-full w-full flex flex-col md:flex-row;
    @apply dark:bg-zinc-900 bg-slate-100 dark:text-white text-black;
    @apply bg-switch;
  }
}

@layer components {
  .page-layout-center {
    @apply absolute inset-0 flex justify-center items-center md:mx-auto mx-4 md:max-w-page;
  }
  .nohead-layout {
    @apply md:pt-20 pb-4 px-4;
  }
}

@layer utilities {
  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }
  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }
  .writing-horizontal-tb {
    writing-mode: horizontal-tb;
  }
  .bg-dark {
    @apply bg-zinc-900;
  }
  .bg-light {
    @apply bg-white;
  }
  .bg-switch {
    @apply transition-colors duration-500;
  }
  .max-w-page {
    max-width: 80%;
  }
}
